<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OoOAddin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OoOAddin.Settings1>
            <setting name="txtSubject_OoO" serializeAs="String">
                <value>$name$'s OoO</value>
            </setting>
            <setting name="txtReceivers_OoO" serializeAs="String">
                <value />
            </setting>
            <setting name="txtBody_OoO" serializeAs="String">
                <value>I am OoO.</value>
            </setting>
            <setting name="txtSubject_WFH" serializeAs="String">
                <value>$name$'s WFH</value>
            </setting>
            <setting name="txtReceivers_WFH" serializeAs="String">
                <value />
            </setting>
            <setting name="txtBody_WFH" serializeAs="String">
                <value>I am WFH.</value>
            </setting>
        </OoOAddin.Settings1>
    </userSettings>
</configuration>